<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 需要映射的接口的全类名 -->
<mapper namespace="com.qinge.playerbackend.mapper.ChatMessageMapper">
	<sql id="ChatMessage">
		message_id,
		session_id,
		message_type,
		message_content,
		send_user_id,
		send_user_nick_name,
		send_time,
		contact_id,
		contact_type,
		file_size,
		file_name,
		file_type,
		status,
	</sql>

	<!-- 	批量查询数据	 -->
	<select id="select" resultType="com.qinge.playerbackend.entity.pojo.ChatMessagePojo">
		select
		<trim suffixOverrides=",">
			<include refid="ChatMessage">
			</include>
		</trim>
		from chat_message
		<if test="pojo != null">
			<where>
				<if test="pojo.messageId != null">
					and message_id = #{pojo.messageId}
				</if>
				<if test="pojo.sessionId != null">
					and session_id = #{pojo.sessionId}
				</if>
				<if test="pojo.sendUserId != null">
					and send_user_id = #{pojo.sendUserId}
				</if>
				<if test="pojo.contactId != null">
					and contact_id = #{pojo.contactId}
				</if>
				<if test="pojo.sendTime != null">
					and send_time = #{pojo.sendTime}
				</if>
			</where>
		</if>
		<if test="page != null">
			limit #{page.pageSize} offset #{page.pageNum}
		</if>
		<if test="sort != null">
			order by #{sort.index} #{sort.order}
		</if>
	</select>

	<!-- 	插入数据	 -->
	<insert id="insert" parameterType="com.qinge.playerbackend.entity.pojo.ChatMessagePojo">
		insert into chat_message
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.messageId != null">
				message_id,
			</if>
			<if test="pojo.sessionId != null">
				session_id,
			</if>
			<if test="pojo.messageType != null">
				message_type,
			</if>
			<if test="pojo.messageContent != null">
				message_content,
			</if>
			<if test="pojo.sendUserId != null">
				send_user_id,
			</if>
			<if test="pojo.sendUserNickName != null">
				send_user_nick_name,
			</if>
			<if test="pojo.sendTime != null">
				send_time,
			</if>
			<if test="pojo.contactId != null">
				contact_id,
			</if>
			<if test="pojo.contactType != null">
				contact_type,
			</if>
			<if test="pojo.fileSize != null">
				file_size,
			</if>
			<if test="pojo.fileName != null">
				file_name,
			</if>
			<if test="pojo.fileType != null">
				file_type,
			</if>
			<if test="pojo.status != null">
				status,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.messageId != null">
				#{pojo.messageId},
			</if>
			<if test="pojo.sessionId != null">
				#{pojo.sessionId},
			</if>
			<if test="pojo.messageType != null">
				#{pojo.messageType},
			</if>
			<if test="pojo.messageContent != null">
				#{pojo.messageContent},
			</if>
			<if test="pojo.sendUserId != null">
				#{pojo.sendUserId},
			</if>
			<if test="pojo.sendUserNickName != null">
				#{pojo.sendUserNickName},
			</if>
			<if test="pojo.sendTime != null">
				#{pojo.sendTime},
			</if>
			<if test="pojo.contactId != null">
				#{pojo.contactId},
			</if>
			<if test="pojo.contactType != null">
				#{pojo.contactType},
			</if>
			<if test="pojo.fileSize != null">
				#{pojo.fileSize},
			</if>
			<if test="pojo.fileName != null">
				#{pojo.fileName},
			</if>
			<if test="pojo.fileType != null">
				#{pojo.fileType},
			</if>
			<if test="pojo.status != null">
				#{pojo.status},
			</if>
		</trim>
	</insert>

	<!-- 	更新数据	 -->
	<update id="update" parameterType="com.qinge.playerbackend.entity.pojo.ChatMessagePojo">
		update chat_message
		<set>
			<if test="np.messageId != null">
				message_id = #{np.messageId},
			</if>
			<if test="np.sessionId != null">
				session_id = #{np.sessionId},
			</if>
			<if test="np.messageType != null">
				message_type = #{np.messageType},
			</if>
			<if test="np.messageContent != null">
				message_content = #{np.messageContent},
			</if>
			<if test="np.sendUserId != null">
				send_user_id = #{np.sendUserId},
			</if>
			<if test="np.sendUserNickName != null">
				send_user_nick_name = #{np.sendUserNickName},
			</if>
			<if test="np.sendTime != null">
				send_time = #{np.sendTime},
			</if>
			<if test="np.contactId != null">
				contact_id = #{np.contactId},
			</if>
			<if test="np.contactType != null">
				contact_type = #{np.contactType},
			</if>
			<if test="np.fileSize != null">
				file_size = #{np.fileSize},
			</if>
			<if test="np.fileName != null">
				file_name = #{np.fileName},
			</if>
			<if test="np.fileType != null">
				file_type = #{np.fileType},
			</if>
			<if test="np.status != null">
				status = #{np.status},
			</if>
		</set>
		<where>
			<if test="query.pojo.messageId != null">
				and message_id = #{query.pojo.messageId}
			</if>
			<if test="query.pojo.sessionId != null">
				and session_id = #{query.pojo.sessionId}
			</if>
			<if test="query.pojo.sendUserId != null">
				and send_user_id = #{query.pojo.sendUserId}
			</if>
			<if test="query.pojo.contactId != null">
				and contact_id = #{query.pojo.contactId}
			</if>
			<if test="query.pojo.sendTime != null">
				and send_time = #{query.pojo.sendTime}
			</if>
		</where>
	</update>

	<!-- 	删除数据	 -->
	<delete id="delete" parameterType="com.qinge.playerbackend.entity.pojo.ChatMessagePojo">
		delete from chat_message
		<where>
			<if test="pojo.messageId != null">
				and message_id = #{pojo.messageId}
			</if>
			<if test="pojo.sessionId != null">
				and session_id = #{pojo.sessionId}
			</if>
			<if test="pojo.sendUserId != null">
				and send_user_id = #{pojo.sendUserId}
			</if>
			<if test="pojo.contactId != null">
				and contact_id = #{pojo.contactId}
			</if>
			<if test="pojo.sendTime != null">
				and send_time = #{pojo.sendTime}
			</if>
		</where>
	</delete>
</mapper>
