<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 需要映射的接口的全类名 -->
<mapper namespace="com.qinge.bakcend.mapper.ChatSessionMapper">
	<sql id="ChatSession">
		session_id,
		last_message,
		last_receive_time,
	</sql>

	<!-- 	批量查询数据	 -->
	<select id="select" resultType="com.qinge.bakcend.entity.pojo.ChatSessionPojo">
		select
		<trim suffixOverrides=",">
			<include refid="ChatSession">
			</include>
		</trim>
		from chat_session
		<if test="pojo != null">
			<where>
				<if test="pojo.sessionId != null">
					and session_id = #{pojo.sessionId}
				</if>
			</where>
		</if>
		<if test="page != null">
			limit #{page.pageSize} offset #{page.pageNum}
		</if>
		<if test="sort != null">
			order by #{sort.index} #{sort.order}
		</if>
	</select>

	<!-- 	插入数据	 -->
	<insert id="insert" parameterType="com.qinge.bakcend.entity.pojo.ChatSessionPojo">
		insert into chat_session
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.sessionId != null">
				session_id,
			</if>
			<if test="pojo.lastMessage != null">
				last_message,
			</if>
			<if test="pojo.lastReceiveTime != null">
				last_receive_time,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.sessionId != null">
				#{pojo.sessionId},
			</if>
			<if test="pojo.lastMessage != null">
				#{pojo.lastMessage},
			</if>
			<if test="pojo.lastReceiveTime != null">
				#{pojo.lastReceiveTime},
			</if>
		</trim>
	</insert>

	<!-- 	更新数据	 -->
	<update id="update" parameterType="com.qinge.bakcend.entity.pojo.ChatSessionPojo">
		update chat_session
		<set>
			<if test="np.sessionId != null">
				session_id = #{np.sessionId},
			</if>
			<if test="np.lastMessage != null">
				last_message = #{np.lastMessage},
			</if>
			<if test="np.lastReceiveTime != null">
				last_receive_time = #{np.lastReceiveTime},
			</if>
		</set>
		<where>
			<if test="query.pojo.sessionId != null">
				and session_id = #{query.pojo.sessionId}
			</if>
		</where>
	</update>

	<!-- 	删除数据	 -->
	<delete id="delete" parameterType="com.qinge.bakcend.entity.pojo.ChatSessionPojo">
		delete from chat_session
		<where>
			<if test="pojo.sessionId != null">
				and session_id = #{pojo.sessionId}
			</if>
		</where>
	</delete>
</mapper>
