<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 需要映射的接口的全类名 -->
<mapper namespace="com.qinge.bakcend.mapper.UserInfoMapper">
	<sql id="UserInfo">
		user_id,
		area_code,
		area_name,
		create_time,
		email,
		join_type,
		last_login_time,
		last_off_time,
		nick_name,
		password,
		personal_signature,
		sex,
		status,
	</sql>

	<!-- 	批量查询数据	 -->
	<select id="select" resultType="com.qinge.bakcend.entity.pojo.UserInfoPojo">
		select
		<trim suffixOverrides=",">
			<include refid="UserInfo">
			</include>
		</trim>
		from user_info
		<if test="pojo != null">
			<where>
				<if test="pojo.userId != null">
					and user_id = #{pojo.userId}
				</if>
			</where>
		</if>
		<if test="page != null">
			limit #{page.pageSize} offset #{page.pageNum}
		</if>
		<if test="sort != null">
			order by #{sort.index} #{sort.order}
		</if>
	</select>

	<!-- 	插入数据	 -->
	<insert id="insert" parameterType="com.qinge.bakcend.entity.pojo.UserInfoPojo">
		insert into user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.userId != null">
				user_id,
			</if>
			<if test="pojo.areaCode != null">
				area_code,
			</if>
			<if test="pojo.areaName != null">
				area_name,
			</if>
			<if test="pojo.createTime != null">
				create_time,
			</if>
			<if test="pojo.email != null">
				email,
			</if>
			<if test="pojo.joinType != null">
				join_type,
			</if>
			<if test="pojo.lastLoginTime != null">
				last_login_time,
			</if>
			<if test="pojo.lastOffTime != null">
				last_off_time,
			</if>
			<if test="pojo.nickName != null">
				nick_name,
			</if>
			<if test="pojo.password != null">
				password,
			</if>
			<if test="pojo.personalSignature != null">
				personal_signature,
			</if>
			<if test="pojo.sex != null">
				sex,
			</if>
			<if test="pojo.status != null">
				status,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.userId != null">
				#{pojo.userId},
			</if>
			<if test="pojo.areaCode != null">
				#{pojo.areaCode},
			</if>
			<if test="pojo.areaName != null">
				#{pojo.areaName},
			</if>
			<if test="pojo.createTime != null">
				#{pojo.createTime},
			</if>
			<if test="pojo.email != null">
				#{pojo.email},
			</if>
			<if test="pojo.joinType != null">
				#{pojo.joinType},
			</if>
			<if test="pojo.lastLoginTime != null">
				#{pojo.lastLoginTime},
			</if>
			<if test="pojo.lastOffTime != null">
				#{pojo.lastOffTime},
			</if>
			<if test="pojo.nickName != null">
				#{pojo.nickName},
			</if>
			<if test="pojo.password != null">
				#{pojo.password},
			</if>
			<if test="pojo.personalSignature != null">
				#{pojo.personalSignature},
			</if>
			<if test="pojo.sex != null">
				#{pojo.sex},
			</if>
			<if test="pojo.status != null">
				#{pojo.status},
			</if>
		</trim>
	</insert>

	<!-- 	更新数据	 -->
	<update id="update" parameterType="com.qinge.bakcend.entity.pojo.UserInfoPojo">
		update user_info
		<set>
			<if test="np.userId != null">
				user_id = #{np.userId},
			</if>
			<if test="np.areaCode != null">
				area_code = #{np.areaCode},
			</if>
			<if test="np.areaName != null">
				area_name = #{np.areaName},
			</if>
			<if test="np.createTime != null">
				create_time = #{np.createTime},
			</if>
			<if test="np.email != null">
				email = #{np.email},
			</if>
			<if test="np.joinType != null">
				join_type = #{np.joinType},
			</if>
			<if test="np.lastLoginTime != null">
				last_login_time = #{np.lastLoginTime},
			</if>
			<if test="np.lastOffTime != null">
				last_off_time = #{np.lastOffTime},
			</if>
			<if test="np.nickName != null">
				nick_name = #{np.nickName},
			</if>
			<if test="np.password != null">
				password = #{np.password},
			</if>
			<if test="np.personalSignature != null">
				personal_signature = #{np.personalSignature},
			</if>
			<if test="np.sex != null">
				sex = #{np.sex},
			</if>
			<if test="np.status != null">
				status = #{np.status},
			</if>
		</set>
		<where>
			<if test="query.pojo.userId != null">
				and user_id = #{query.pojo.userId}
			</if>
		</where>
	</update>

	<!-- 	删除数据	 -->
	<delete id="delete" parameterType="com.qinge.bakcend.entity.pojo.UserInfoPojo">
		delete from user_info
		<where>
			<if test="pojo.userId != null">
				and user_id = #{pojo.userId}
			</if>
		</where>
	</delete>
</mapper>
