<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 需要映射的接口的全类名 -->
<mapper namespace="com.qinge.backend.mapper.App_updateMapper">
	<sql id="App_update">
		id,
		create_time,
		file_type,
		grayscale_uid,
		outer_link,
		status,
		update_desc,
		version,
	</sql>

	<!-- 	批量查询数据	 -->
	<select id="select" resultType="com.qinge.backend.entity.pojo.App_updatePojo">
		select
		<trim suffixOverrides=",">
			<include refid="App_update">
			</include>
		</trim>
		from app_update
		<if test="pojo != null">
			<where>
				<if test="pojo.id != null">
					and id = #{pojo.id}
				</if>
			</where>
		</if>
		<if test="page != null">
			limit #{page.pageSize} offset #{page.pageNum}
		</if>
		<if test="sort != null">
			order by #{sort.index} #{sort.order}
		</if>
	</select>

	<!-- 	插入数据	 -->
	<insert id="insert" parameterType="com.qinge.backend.entity.pojo.App_updatePojo">
		insert into app_update
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.id != null">
				id,
			</if>
			<if test="pojo.create_time != null">
				create_time,
			</if>
			<if test="pojo.file_type != null">
				file_type,
			</if>
			<if test="pojo.grayscale_uid != null">
				grayscale_uid,
			</if>
			<if test="pojo.outer_link != null">
				outer_link,
			</if>
			<if test="pojo.status != null">
				status,
			</if>
			<if test="pojo.update_desc != null">
				update_desc,
			</if>
			<if test="pojo.version != null">
				version,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.id != null">
				#{pojo.id},
			</if>
			<if test="pojo.create_time != null">
				#{pojo.create_time},
			</if>
			<if test="pojo.file_type != null">
				#{pojo.file_type},
			</if>
			<if test="pojo.grayscale_uid != null">
				#{pojo.grayscale_uid},
			</if>
			<if test="pojo.outer_link != null">
				#{pojo.outer_link},
			</if>
			<if test="pojo.status != null">
				#{pojo.status},
			</if>
			<if test="pojo.update_desc != null">
				#{pojo.update_desc},
			</if>
			<if test="pojo.version != null">
				#{pojo.version},
			</if>
		</trim>
	</insert>

	<!-- 	更新数据	 -->
	<update id="update" parameterType="com.qinge.backend.entity.pojo.App_updatePojo">
		update app_update
		<set>
			<if test="np.id != null">
				id = #{np.id},
			</if>
			<if test="np.create_time != null">
				create_time = #{np.create_time},
			</if>
			<if test="np.file_type != null">
				file_type = #{np.file_type},
			</if>
			<if test="np.grayscale_uid != null">
				grayscale_uid = #{np.grayscale_uid},
			</if>
			<if test="np.outer_link != null">
				outer_link = #{np.outer_link},
			</if>
			<if test="np.status != null">
				status = #{np.status},
			</if>
			<if test="np.update_desc != null">
				update_desc = #{np.update_desc},
			</if>
			<if test="np.version != null">
				version = #{np.version},
			</if>
		</set>
		<where>
			<if test="query.pojo.id != null">
				and id = #{query.pojo.id}
			</if>
		</where>
	</update>

	<!-- 	删除数据	 -->
	<delete id="delete" parameterType="com.qinge.backend.entity.pojo.App_updatePojo">
		delete from app_update
		<where>
			<if test="pojo.id != null">
				and id = #{pojo.id}
			</if>
		</where>
	</delete>
</mapper>
