<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 需要映射的接口的全类名 -->
<mapper namespace="com.qinge.backend.mapper.ChapterMapper">
	<sql id="Chapter">
		id,
		title,
		fiction_id,
		type_id,
		is_read,
		is_delete,
	</sql>

	<!-- 	批量查询数据	 -->
	<select id="select" resultType="com.qinge.backend.entity.pojo.ChapterPojo">
		select
		<trim suffixOverrides=",">
			<include refid="Chapter">
			</include>
		</trim>
		from chapter
		<if test="pojo != null">
			<where>
				<if test="pojo.id != null">
					and id = #{pojo.id}
				</if>
			</where>
		</if>
		<if test="page != null">
			limit #{page.pageSize} offset #{page.pageNum}
		</if>
		<if test="sort != null">
			order by #{sort.index} #{sort.order}
		</if>
	</select>

	<!-- 	插入数据	 -->
	<insert id="insert" parameterType="com.qinge.backend.entity.pojo.ChapterPojo">
		insert into chapter
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.id != null">
				id,
			</if>
			<if test="pojo.title != null">
				title,
			</if>
			<if test="pojo.fiction_id != null">
				fiction_id,
			</if>
			<if test="pojo.type_id != null">
				type_id,
			</if>
			<if test="pojo.is_read != null">
				is_read,
			</if>
			<if test="pojo.is_delete != null">
				is_delete,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.id != null">
				#{pojo.id},
			</if>
			<if test="pojo.title != null">
				#{pojo.title},
			</if>
			<if test="pojo.fiction_id != null">
				#{pojo.fiction_id},
			</if>
			<if test="pojo.type_id != null">
				#{pojo.type_id},
			</if>
			<if test="pojo.is_read != null">
				#{pojo.is_read},
			</if>
			<if test="pojo.is_delete != null">
				#{pojo.is_delete},
			</if>
		</trim>
	</insert>

	<!-- 	更新数据	 -->
	<update id="update" parameterType="com.qinge.backend.entity.pojo.ChapterPojo">
		update chapter
		<set>
			<if test="np.id != null">
				id = #{np.id},
			</if>
			<if test="np.title != null">
				title = #{np.title},
			</if>
			<if test="np.fiction_id != null">
				fiction_id = #{np.fiction_id},
			</if>
			<if test="np.type_id != null">
				type_id = #{np.type_id},
			</if>
			<if test="np.is_read != null">
				is_read = #{np.is_read},
			</if>
			<if test="np.is_delete != null">
				is_delete = #{np.is_delete},
			</if>
		</set>
		<where>
			<if test="query.pojo.id != null">
				and id = #{query.pojo.id}
			</if>
		</where>
	</update>

	<!-- 	删除数据	 -->
	<delete id="delete" parameterType="com.qinge.backend.entity.pojo.ChapterPojo">
		delete from chapter
		<where>
			<if test="pojo.id != null">
				and id = #{pojo.id}
			</if>
		</where>
	</delete>
</mapper>
