<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 需要映射的接口的全类名 -->
<mapper namespace="com.qinge.backend.mapper.Chat_session_userMapper">
	<sql id="Chat_session_user">
		user_id,
		contact_id,
		contact_name,
		session_id,
	</sql>

	<!-- 	批量查询数据	 -->
	<select id="select" resultType="com.qinge.backend.entity.pojo.Chat_session_userPojo">
		select
		<trim suffixOverrides=",">
			<include refid="Chat_session_user">
			</include>
		</trim>
		from chat_session_user
		<if test="pojo != null">
			<where>
				<if test="pojo.contact_id != null">
					and contact_id = #{pojo.contact_id}
				</if>
				<if test="pojo.user_id != null">
					and user_id = #{pojo.user_id}
				</if>
			</where>
		</if>
		<if test="page != null">
			limit #{page.pageSize} offset #{page.pageNum}
		</if>
		<if test="sort != null">
			order by #{sort.index} #{sort.order}
		</if>
	</select>

	<!-- 	插入数据	 -->
	<insert id="insert" parameterType="com.qinge.backend.entity.pojo.Chat_session_userPojo">
		insert into chat_session_user
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.user_id != null">
				user_id,
			</if>
			<if test="pojo.contact_id != null">
				contact_id,
			</if>
			<if test="pojo.contact_name != null">
				contact_name,
			</if>
			<if test="pojo.session_id != null">
				session_id,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.user_id != null">
				#{pojo.user_id},
			</if>
			<if test="pojo.contact_id != null">
				#{pojo.contact_id},
			</if>
			<if test="pojo.contact_name != null">
				#{pojo.contact_name},
			</if>
			<if test="pojo.session_id != null">
				#{pojo.session_id},
			</if>
		</trim>
	</insert>

	<!-- 	更新数据	 -->
	<update id="update" parameterType="com.qinge.backend.entity.pojo.Chat_session_userPojo">
		update chat_session_user
		<set>
			<if test="np.user_id != null">
				user_id = #{np.user_id},
			</if>
			<if test="np.contact_id != null">
				contact_id = #{np.contact_id},
			</if>
			<if test="np.contact_name != null">
				contact_name = #{np.contact_name},
			</if>
			<if test="np.session_id != null">
				session_id = #{np.session_id},
			</if>
		</set>
		<where>
			<if test="query.pojo.contact_id != null">
				and contact_id = #{query.pojo.contact_id}
			</if>
			<if test="query.pojo.user_id != null">
				and user_id = #{query.pojo.user_id}
			</if>
		</where>
	</update>

	<!-- 	删除数据	 -->
	<delete id="delete" parameterType="com.qinge.backend.entity.pojo.Chat_session_userPojo">
		delete from chat_session_user
		<where>
			<if test="pojo.contact_id != null">
				and contact_id = #{pojo.contact_id}
			</if>
			<if test="pojo.user_id != null">
				and user_id = #{pojo.user_id}
			</if>
		</where>
	</delete>
</mapper>
