<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 需要映射的接口的全类名 -->
<mapper namespace="com.qinge.backend.mapper.Chat_messageMapper">
	<sql id="Chat_message">
		message_id,
		contact_id,
		contact_type,
		file_name,
		file_size,
		file_type,
		message_content,
		message_type,
		send_time,
		send_user_id,
		send_user_nick_name,
		session_id,
		status,
	</sql>

	<!-- 	批量查询数据	 -->
	<select id="select" resultType="com.qinge.backend.entity.pojo.Chat_messagePojo">
		select
		<trim suffixOverrides=",">
			<include refid="Chat_message">
			</include>
		</trim>
		from chat_message
		<if test="pojo != null">
			<where>
				<if test="pojo.message_id != null">
					and message_id = #{pojo.message_id}
				</if>
			</where>
		</if>
		<if test="page != null">
			limit #{page.pageSize} offset #{page.pageNum}
		</if>
		<if test="sort != null">
			order by #{sort.index} #{sort.order}
		</if>
	</select>

	<!-- 	插入数据	 -->
	<insert id="insert" parameterType="com.qinge.backend.entity.pojo.Chat_messagePojo">
		insert into chat_message
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.message_id != null">
				message_id,
			</if>
			<if test="pojo.contact_id != null">
				contact_id,
			</if>
			<if test="pojo.contact_type != null">
				contact_type,
			</if>
			<if test="pojo.file_name != null">
				file_name,
			</if>
			<if test="pojo.file_size != null">
				file_size,
			</if>
			<if test="pojo.file_type != null">
				file_type,
			</if>
			<if test="pojo.message_content != null">
				message_content,
			</if>
			<if test="pojo.message_type != null">
				message_type,
			</if>
			<if test="pojo.send_time != null">
				send_time,
			</if>
			<if test="pojo.send_user_id != null">
				send_user_id,
			</if>
			<if test="pojo.send_user_nick_name != null">
				send_user_nick_name,
			</if>
			<if test="pojo.session_id != null">
				session_id,
			</if>
			<if test="pojo.status != null">
				status,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.message_id != null">
				#{pojo.message_id},
			</if>
			<if test="pojo.contact_id != null">
				#{pojo.contact_id},
			</if>
			<if test="pojo.contact_type != null">
				#{pojo.contact_type},
			</if>
			<if test="pojo.file_name != null">
				#{pojo.file_name},
			</if>
			<if test="pojo.file_size != null">
				#{pojo.file_size},
			</if>
			<if test="pojo.file_type != null">
				#{pojo.file_type},
			</if>
			<if test="pojo.message_content != null">
				#{pojo.message_content},
			</if>
			<if test="pojo.message_type != null">
				#{pojo.message_type},
			</if>
			<if test="pojo.send_time != null">
				#{pojo.send_time},
			</if>
			<if test="pojo.send_user_id != null">
				#{pojo.send_user_id},
			</if>
			<if test="pojo.send_user_nick_name != null">
				#{pojo.send_user_nick_name},
			</if>
			<if test="pojo.session_id != null">
				#{pojo.session_id},
			</if>
			<if test="pojo.status != null">
				#{pojo.status},
			</if>
		</trim>
	</insert>

	<!-- 	更新数据	 -->
	<update id="update" parameterType="com.qinge.backend.entity.pojo.Chat_messagePojo">
		update chat_message
		<set>
			<if test="np.message_id != null">
				message_id = #{np.message_id},
			</if>
			<if test="np.contact_id != null">
				contact_id = #{np.contact_id},
			</if>
			<if test="np.contact_type != null">
				contact_type = #{np.contact_type},
			</if>
			<if test="np.file_name != null">
				file_name = #{np.file_name},
			</if>
			<if test="np.file_size != null">
				file_size = #{np.file_size},
			</if>
			<if test="np.file_type != null">
				file_type = #{np.file_type},
			</if>
			<if test="np.message_content != null">
				message_content = #{np.message_content},
			</if>
			<if test="np.message_type != null">
				message_type = #{np.message_type},
			</if>
			<if test="np.send_time != null">
				send_time = #{np.send_time},
			</if>
			<if test="np.send_user_id != null">
				send_user_id = #{np.send_user_id},
			</if>
			<if test="np.send_user_nick_name != null">
				send_user_nick_name = #{np.send_user_nick_name},
			</if>
			<if test="np.session_id != null">
				session_id = #{np.session_id},
			</if>
			<if test="np.status != null">
				status = #{np.status},
			</if>
		</set>
		<where>
			<if test="query.pojo.message_id != null">
				and message_id = #{query.pojo.message_id}
			</if>
		</where>
	</update>

	<!-- 	删除数据	 -->
	<delete id="delete" parameterType="com.qinge.backend.entity.pojo.Chat_messagePojo">
		delete from chat_message
		<where>
			<if test="pojo.message_id != null">
				and message_id = #{pojo.message_id}
			</if>
		</where>
	</delete>
</mapper>
