<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 需要映射的接口的全类名 -->
<mapper namespace="com.qinge.backend.mapper.Fiction_typeMapper">
	<sql id="Fiction_type">
		id,
		type_name,
	</sql>

	<!-- 	批量查询数据	 -->
	<select id="select" resultType="com.qinge.backend.entity.pojo.Fiction_typePojo">
		select
		<trim suffixOverrides=",">
			<include refid="Fiction_type">
			</include>
		</trim>
		from fiction_type
		<if test="pojo != null">
			<where>
				<if test="pojo.id != null">
					and id = #{pojo.id}
				</if>
			</where>
		</if>
		<if test="page != null">
			limit #{page.pageSize} offset #{page.pageNum}
		</if>
		<if test="sort != null">
			order by #{sort.index} #{sort.order}
		</if>
	</select>

	<!-- 	插入数据	 -->
	<insert id="insert" parameterType="com.qinge.backend.entity.pojo.Fiction_typePojo">
		insert into fiction_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.id != null">
				id,
			</if>
			<if test="pojo.type_name != null">
				type_name,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.id != null">
				#{pojo.id},
			</if>
			<if test="pojo.type_name != null">
				#{pojo.type_name},
			</if>
		</trim>
	</insert>

	<!-- 	更新数据	 -->
	<update id="update" parameterType="com.qinge.backend.entity.pojo.Fiction_typePojo">
		update fiction_type
		<set>
			<if test="np.id != null">
				id = #{np.id},
			</if>
			<if test="np.type_name != null">
				type_name = #{np.type_name},
			</if>
		</set>
		<where>
			<if test="query.pojo.id != null">
				and id = #{query.pojo.id}
			</if>
		</where>
	</update>

	<!-- 	删除数据	 -->
	<delete id="delete" parameterType="com.qinge.backend.entity.pojo.Fiction_typePojo">
		delete from fiction_type
		<where>
			<if test="pojo.id != null">
				and id = #{pojo.id}
			</if>
		</where>
	</delete>
</mapper>
