<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 需要映射的接口的全类名 -->
<mapper namespace="com.qinge.backend.mapper.GroupInfoMapper">
	<sql id="GroupInfo">
		id,
		version,
		update_desc,
		status,
		create_time,
		grayscale_uid,
		file_type,
		outer_link,
	</sql>

	<!-- 	批量查询数据	 -->
	<select id="select" resultType="com.qinge.backend.entity.pojo.GroupInfoPojo">
		select
		<trim suffixOverrides=",">
			<include refid="GroupInfo">
			</include>
		</trim>
		from group_info
		<if test="pojo != null">
			<where>
				<if test="pojo.id != null">
					and id = #{pojo.id}
				</if>
				<if test="pojo.version != null">
					and version = #{pojo.version}
				</if>
			</where>
		</if>
		<if test="page != null">
			limit #{page.pageSize} offset #{page.pageNum}
		</if>
		<if test="sort != null">
			order by #{sort.index} #{sort.order}
		</if>
	</select>

	<!-- 	插入数据	 -->
	<insert id="insert" parameterType="com.qinge.backend.entity.pojo.GroupInfoPojo">
		insert into group_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.$(Field) != null">
				id,
			</if>
			<if test="pojo.$(Field) != null">
				version,
			</if>
			<if test="pojo.$(Field) != null">
				update_desc,
			</if>
			<if test="pojo.$(Field) != null">
				status,
			</if>
			<if test="pojo.$(Field) != null">
				create_time,
			</if>
			<if test="pojo.$(Field) != null">
				grayscale_uid,
			</if>
			<if test="pojo.$(Field) != null">
				file_type,
			</if>
			<if test="pojo.$(Field) != null">
				outer_link,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.id != null">
				#{pojo.id},
			</if>
			<if test="pojo.version != null">
				#{pojo.version},
			</if>
			<if test="pojo.updateDesc != null">
				#{pojo.updateDesc},
			</if>
			<if test="pojo.status != null">
				#{pojo.status},
			</if>
			<if test="pojo.createTime != null">
				#{pojo.createTime},
			</if>
			<if test="pojo.grayscaleUid != null">
				#{pojo.grayscaleUid},
			</if>
			<if test="pojo.fileType != null">
				#{pojo.fileType},
			</if>
			<if test="pojo.outerLink != null">
				#{pojo.outerLink},
			</if>
		</trim>
	</insert>

	<!-- 	更新数据	 -->
	<update id="update" parameterType="com.qinge.backend.entity.pojo.GroupInfoPojo">
		update group_info
		<set>
			<if test="np.id != null">
				id = #{np.id},
			</if>
			<if test="np.version != null">
				version = #{np.version},
			</if>
			<if test="np.updateDesc != null">
				update_desc = #{np.updateDesc},
			</if>
			<if test="np.status != null">
				status = #{np.status},
			</if>
			<if test="np.createTime != null">
				create_time = #{np.createTime},
			</if>
			<if test="np.grayscaleUid != null">
				grayscale_uid = #{np.grayscaleUid},
			</if>
			<if test="np.fileType != null">
				file_type = #{np.fileType},
			</if>
			<if test="np.outerLink != null">
				outer_link = #{np.outerLink},
			</if>
		</set>
		<where>
			<if test="query.pojo.id != null">
				and id = #{query.pojo.id}
			</if>
			<if test="query.pojo.version != null">
				and version = #{query.pojo.version}
			</if>
		</where>
	</update>

	<!-- 	删除数据	 -->
	<delete id="delete" parameterType="com.qinge.backend.entity.pojo.GroupInfoPojo">
		delete from group_info
		<where>
			<if test="pojo.id != null">
				and id = #{pojo.id}
			</if>
			<if test="pojo.version != null">
				and version = #{pojo.version}
			</if>
		</where>
	</delete>
</mapper>
