<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 需要映射的接口的全类名 -->
<mapper namespace="com.qinge.backend.mapper.User_infoMapper">
	<sql id="User_info">
		user_id,
		area_code,
		area_name,
		create_time,
		email,
		join_type,
		last_login_time,
		last_off_time,
		nick_name,
		password,
		personal_signature,
		sex,
		status,
	</sql>

	<!-- 	批量查询数据	 -->
	<select id="select" resultType="com.qinge.backend.entity.pojo.User_infoPojo">
		select
		<trim suffixOverrides=",">
			<include refid="User_info">
			</include>
		</trim>
		from user_info
		<if test="pojo != null">
			<where>
				<if test="pojo.user_id != null">
					and user_id = #{pojo.user_id}
				</if>
			</where>
		</if>
		<if test="page != null">
			limit #{page.pageSize} offset #{page.pageNum}
		</if>
		<if test="sort != null">
			order by #{sort.index} #{sort.order}
		</if>
	</select>

	<!-- 	插入数据	 -->
	<insert id="insert" parameterType="com.qinge.backend.entity.pojo.User_infoPojo">
		insert into user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.user_id != null">
				user_id,
			</if>
			<if test="pojo.area_code != null">
				area_code,
			</if>
			<if test="pojo.area_name != null">
				area_name,
			</if>
			<if test="pojo.create_time != null">
				create_time,
			</if>
			<if test="pojo.email != null">
				email,
			</if>
			<if test="pojo.join_type != null">
				join_type,
			</if>
			<if test="pojo.last_login_time != null">
				last_login_time,
			</if>
			<if test="pojo.last_off_time != null">
				last_off_time,
			</if>
			<if test="pojo.nick_name != null">
				nick_name,
			</if>
			<if test="pojo.password != null">
				password,
			</if>
			<if test="pojo.personal_signature != null">
				personal_signature,
			</if>
			<if test="pojo.sex != null">
				sex,
			</if>
			<if test="pojo.status != null">
				status,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.user_id != null">
				#{pojo.user_id},
			</if>
			<if test="pojo.area_code != null">
				#{pojo.area_code},
			</if>
			<if test="pojo.area_name != null">
				#{pojo.area_name},
			</if>
			<if test="pojo.create_time != null">
				#{pojo.create_time},
			</if>
			<if test="pojo.email != null">
				#{pojo.email},
			</if>
			<if test="pojo.join_type != null">
				#{pojo.join_type},
			</if>
			<if test="pojo.last_login_time != null">
				#{pojo.last_login_time},
			</if>
			<if test="pojo.last_off_time != null">
				#{pojo.last_off_time},
			</if>
			<if test="pojo.nick_name != null">
				#{pojo.nick_name},
			</if>
			<if test="pojo.password != null">
				#{pojo.password},
			</if>
			<if test="pojo.personal_signature != null">
				#{pojo.personal_signature},
			</if>
			<if test="pojo.sex != null">
				#{pojo.sex},
			</if>
			<if test="pojo.status != null">
				#{pojo.status},
			</if>
		</trim>
	</insert>

	<!-- 	更新数据	 -->
	<update id="update" parameterType="com.qinge.backend.entity.pojo.User_infoPojo">
		update user_info
		<set>
			<if test="np.user_id != null">
				user_id = #{np.user_id},
			</if>
			<if test="np.area_code != null">
				area_code = #{np.area_code},
			</if>
			<if test="np.area_name != null">
				area_name = #{np.area_name},
			</if>
			<if test="np.create_time != null">
				create_time = #{np.create_time},
			</if>
			<if test="np.email != null">
				email = #{np.email},
			</if>
			<if test="np.join_type != null">
				join_type = #{np.join_type},
			</if>
			<if test="np.last_login_time != null">
				last_login_time = #{np.last_login_time},
			</if>
			<if test="np.last_off_time != null">
				last_off_time = #{np.last_off_time},
			</if>
			<if test="np.nick_name != null">
				nick_name = #{np.nick_name},
			</if>
			<if test="np.password != null">
				password = #{np.password},
			</if>
			<if test="np.personal_signature != null">
				personal_signature = #{np.personal_signature},
			</if>
			<if test="np.sex != null">
				sex = #{np.sex},
			</if>
			<if test="np.status != null">
				status = #{np.status},
			</if>
		</set>
		<where>
			<if test="query.pojo.user_id != null">
				and user_id = #{query.pojo.user_id}
			</if>
		</where>
	</update>

	<!-- 	删除数据	 -->
	<delete id="delete" parameterType="com.qinge.backend.entity.pojo.User_infoPojo">
		delete from user_info
		<where>
			<if test="pojo.user_id != null">
				and user_id = #{pojo.user_id}
			</if>
		</where>
	</delete>
</mapper>
