<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 需要映射的接口的全类名 -->
<mapper namespace="com.qinge.backend.mapper.User_contact_applyMapper">
	<sql id="User_contact_apply">
		apply_id,
		apply_info,
		apply_user_id,
		contact_id,
		contact_type,
		last_apply_time,
		receive_user_id,
		status,
	</sql>

	<!-- 	批量查询数据	 -->
	<select id="select" resultType="com.qinge.backend.entity.pojo.User_contact_applyPojo">
		select
		<trim suffixOverrides=",">
			<include refid="User_contact_apply">
			</include>
		</trim>
		from user_contact_apply
		<if test="pojo != null">
			<where>
				<if test="pojo.apply_id != null">
					and apply_id = #{pojo.apply_id}
				</if>
			</where>
		</if>
		<if test="page != null">
			limit #{page.pageSize} offset #{page.pageNum}
		</if>
		<if test="sort != null">
			order by #{sort.index} #{sort.order}
		</if>
	</select>

	<!-- 	插入数据	 -->
	<insert id="insert" parameterType="com.qinge.backend.entity.pojo.User_contact_applyPojo">
		insert into user_contact_apply
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.apply_id != null">
				apply_id,
			</if>
			<if test="pojo.apply_info != null">
				apply_info,
			</if>
			<if test="pojo.apply_user_id != null">
				apply_user_id,
			</if>
			<if test="pojo.contact_id != null">
				contact_id,
			</if>
			<if test="pojo.contact_type != null">
				contact_type,
			</if>
			<if test="pojo.last_apply_time != null">
				last_apply_time,
			</if>
			<if test="pojo.receive_user_id != null">
				receive_user_id,
			</if>
			<if test="pojo.status != null">
				status,
			</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pojo.apply_id != null">
				#{pojo.apply_id},
			</if>
			<if test="pojo.apply_info != null">
				#{pojo.apply_info},
			</if>
			<if test="pojo.apply_user_id != null">
				#{pojo.apply_user_id},
			</if>
			<if test="pojo.contact_id != null">
				#{pojo.contact_id},
			</if>
			<if test="pojo.contact_type != null">
				#{pojo.contact_type},
			</if>
			<if test="pojo.last_apply_time != null">
				#{pojo.last_apply_time},
			</if>
			<if test="pojo.receive_user_id != null">
				#{pojo.receive_user_id},
			</if>
			<if test="pojo.status != null">
				#{pojo.status},
			</if>
		</trim>
	</insert>

	<!-- 	更新数据	 -->
	<update id="update" parameterType="com.qinge.backend.entity.pojo.User_contact_applyPojo">
		update user_contact_apply
		<set>
			<if test="np.apply_id != null">
				apply_id = #{np.apply_id},
			</if>
			<if test="np.apply_info != null">
				apply_info = #{np.apply_info},
			</if>
			<if test="np.apply_user_id != null">
				apply_user_id = #{np.apply_user_id},
			</if>
			<if test="np.contact_id != null">
				contact_id = #{np.contact_id},
			</if>
			<if test="np.contact_type != null">
				contact_type = #{np.contact_type},
			</if>
			<if test="np.last_apply_time != null">
				last_apply_time = #{np.last_apply_time},
			</if>
			<if test="np.receive_user_id != null">
				receive_user_id = #{np.receive_user_id},
			</if>
			<if test="np.status != null">
				status = #{np.status},
			</if>
		</set>
		<where>
			<if test="query.pojo.apply_id != null">
				and apply_id = #{query.pojo.apply_id}
			</if>
		</where>
	</update>

	<!-- 	删除数据	 -->
	<delete id="delete" parameterType="com.qinge.backend.entity.pojo.User_contact_applyPojo">
		delete from user_contact_apply
		<where>
			<if test="pojo.apply_id != null">
				and apply_id = #{pojo.apply_id}
			</if>
		</where>
	</delete>
</mapper>
